<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/output.css">
    <title>Ola Render!</title>
</head>
<body>
    <div class="w-screen h-screen">
        <header class="py-4 w-full flex justify-around items-center text-white bg-green-500">
            <a href="/">
                <h1 class="font-semibold">NODEJSWITHRENDER</h1>
            </a>
            <nav>
                <a href="/login">
                    <p>Login</p>
                </a>
            </nav>
        </header>