<div class="w-screen h-screen flex justify-center items-center">
    <form action="" class="p-5 border-2 flex flex-col w-96 gap-4 shadow-lg">
        <label>Username</label>
        <input type="text" name="name" placeholder="Your Username" class="p-3 mb-3 outline-none bg-gray-100 shadow-md">
        <label>Username</label>
        <input type="password" name="password" placeholder="*********" class="p-3 mb-3 outline-none bg-gray-100 shadow-md">
        <input type="submit" value="Login" class="bg-green-400 p-3 rounded-md text-white font-semibold">
    </form>
</div>